body {
  color: black;
  margin: 0;
}

body style {
  width: 100vw;
  height: 100vh;
}

img {
  opacity: 0.5;
  display: flex;
}

.clicked {
  color: darkcyan;
}

.hidden {
  display: none;
}

#greeting {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px;
}

#clock {
  display: flex;
  align-items: flex-end;
  margin: 20px;
  font-family: "Courier New", Courier, monospace;
  font-size: 20px;
}

#weather {
  margin: 20px;
  font-family: "Courier New", Courier, monospace;
  font-size: 20px;
}

#greeting {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: teal;
}

#todo-list {
  font-size: 25px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: black;
}

#todo-list button {
  margin-left: 10px;
  border-radius: 15px;
  font-size: 10px;
}

#todo-form {
  display: flex;
  justify-content: center;
}

.toDoBox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#quote {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 30px;
  font-size: 20px;
}

#quote span {
  font: bold;
  color: green;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-bottom: 20px;
}

#quote span:last-child {
  color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-bottom: 20px;
}

#login-form {
  justify-content: center;
  margin: 20px;
  padding: 20px;
}

.loginHi {
  display: flex;
  justify-content: center;
}
